**  System configuration is automated and all changes made  **
**  will be regularly reverted and lost.                    **

{{ motd_greeting_text }}

* Managed by: {{ motd_infrastructure_manager }}
* OS Distribution: {{ motd_distribution_name }} {{ motd_distribution_version }}


