**  System configuration is automated and all changes made  **
**  will be regularly reverted and lost.                    **

Usage of this system is governed by SOSETH and ETH regulations.
 Benutzungsordnung fuer Telematik an der ETH Zurich (BOT)
     https://www1.ethz.ch/id/documentation/rechtliches

* Managed by: {{ motd_infrastructure_manager }}
* OS Distribution: {{ motd_distribution_name }} {{ motd_distribution_version }}


